
<ion-content padding class="no-scroll dashboard-page">
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="Ionic logo">
  </div>
  <div class="dashboard-body">
    <img src="assets/imgs/women1.png">
   <button *ngIf="showCat==1" class="cat-more" id='ss_toggle' data-rot='180'><span>More</span></button>
    <button *ngIf="showCat==2" class="cat-less" ><span>Back</span></button>
  </div>
  <button class="footer-bottom-right"><span>Order</span></button>
  <div id='ss_menu'>
      <div *ngFor="let category of categoryList| slice:startCatNum:endCatNum; let i = index">
        <img (click)="goToProList(category.id,category.name)"
          [src]="category.image_small != '' && imageBaseUrl+ category.image_small || 'assets/imgs/no-image.png'">
      </div>
    </div>

</ion-content>