page-forgot-password {
    ion-content {
        top: 0px !important;
    }
    // .forgot-page {
    //     position: relative;
    // }
    
    .forgot-desc {
        padding: 10px 20px 0px 20px;
        text-align: center;
    }
    .forgot-form-title {
        text-align: center;
        padding:20px 0px 10px 0px
    }

    .forgot-desc-success {
        padding: 20px;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
    .entry-form-title-success {
        text-align: center;
        padding: 16px 0px 0px 0px;
    }
    .forgot-bottom {
        width:90%;
        margin:0 auto;
    }
    .text-center {
        text-align: center;
    }

    .footer-bottom-right {
    width: 100px;
    height: 100px;
    background: #62c8d4;
    border-radius: 90px 0 0 0;
    float: right;
    margin-right: -4%;
    bottom: 0;
    position: absolute;
    right: 4%;
    z-index:9999 !important;
    }

    .footer-bottom-right button {
        font-size: 25px;
        background: none;
        float: right;
        margin-top: 55%;
    }
 
    .footer-bottom-right span {
        font-size:20px;
    }
    .scroll-content {
        overflow-y: hidden;
    }
  

}
