<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>forgot-password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content> -->

<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding class="forgot-page">
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="Ionic logo">
  </div>

  <div class="forgot-form-body" *ngIf="isShow==0">
    <ion-title class="forgot-title">It's not a big deal</ion-title>

    <p class="forgot-desc">Please follow the steps below and we will send you a new password</p>

    <form class="forgot-form" >
      <ion-list class="forgot-body">
        <ion-item class="mb-1">
          <ion-input type="text" name="email" placeholder="Email / Mobile Number"></ion-input>
        </ion-item>

      </ion-list>
    </form>
    <p class="text-center not-member" (click)="gotoSignin()">Existing User? <span class="creat">Login</span> </p>
  </div>

  <div class="forgot-form-body" *ngIf="isShow==1">
    <ion-title class="forgot-title">It's done.</ion-title>

    <p class="forgot-desc">Your new password has been sent to your mobile number ending with 9875 and email id dxxx@gxxl.com</p>

    <p class="text-center not-member" (click)="signin()">Existing User? <span class="creat">Login</span> </p>
  </div>

  <button class="footer-bottom-right" (click)="resetPassword()" *ngIf="isShow==0"><span>Reset</span></button>
  <button class="footer-bottom-right" *ngIf="isShow==1" (click)="gotoSignin()"><span>Back</span></button>



</ion-content>