page-forgot-password {

    .forgot-page {
        position: relative;
    }
    
    .forgot-desc {
        padding: 10px 20px 0px 20px;
        text-align: center;
    }
    .forgot-form-title {
        text-align: center;
        padding:20px 0px 10px 0px
    }
    .forgot-bottom {
        width:90%;
        margin:0 auto;
    }
    .text-center {
        text-align: center;
    }

    .footer-bottom-right {
        position: absolute;
        bottom: 75px;
        right: 16px;
        width: 100px;
        height: 100px;
        background: #94D8E3;
        border-radius: 90px 0 0 0;
    }
    .footer-bottom-right span {
        font-size:20px;
    }
  

}
