<ion-content padding class="forgot-page">
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="Ionic logo">
  </div>

  <div class="forgot-form-body" *ngIf="isShow==0">
    <ion-title class="forgot-title">It's not a big deal</ion-title>

    <p class="forgot-desc">Please follow the steps below and we will send you a new password</p>

    <form class="forgot-form">
      <ion-list class="forgot-body">
        <ion-item class="mb-1">
          <ion-input type="text" name="contact_or_email" [(ngModel)]="data.contact_or_email"
            placeholder="Email / Mobile Number"></ion-input>
        </ion-item>

      </ion-list>
    </form>
    <p class="text-center not-member" (click)="gotoSignin()">Existing User? <span class="creat">Login</span> </p>
  </div>

  <div class="forgot-form-body" *ngIf="isShow==1">
    <ion-title class="forgot-title">It's done.</ion-title>

    <p class="forgot-desc">Your new password has been sent to your mobile number ending with {{getResult.contact}} and
      email id {{getResult.email}}</p>
    <ion-list class="forgot-body">
      <ion-item class="mb-1">
        <ion-input type="password" name="otp" [(ngModel)]="data.otp" placeholder="OTP"></ion-input>
      </ion-item>

    </ion-list>
    <p class="text-center not-member" (click)="signin()">Existing User? <span class="creat">Login</span> </p>
  </div>

  <div class="forgot-form-body" *ngIf="isShow==2">
    <ion-title class="forgot-title">It's done.</ion-title>

    <p class="forgot-desc">Enter your new password</p>
    <ion-list class="forgot-body">
      <ion-item class="mb-1">
        <ion-input type="password" name="newpass" [(ngModel)]="data.newpass" placeholder="New Password"></ion-input>
      </ion-item>
      <ion-item class="mb-1">
        <ion-input type="password" name="confpass" [(ngModel)]="data.confpass" placeholder="Confirm Password">
        </ion-input>
      </ion-item>

    </ion-list>
    <p class="text-center not-member" (click)="signin()">Existing User? <span class="creat">Login</span> </p>
  </div>

  <button class="footer-bottom-right" (click)="resetPassword(data)" *ngIf="isShow==0"><span>Submit</span></button>
  <button class="footer-bottom-right" *ngIf="isShow==1" (click)="matchOtp(data)"><span>Submit</span></button>
  <button class="footer-bottom-right" *ngIf="isShow==2" (click)="updatePassword(data)"><span>Update</span></button>

</ion-content>