page-cart {
    .product-banner {
        box-shadow: 0px 15px 10px -15px #111;
        position: fixed;
    }
    .page-tab ion-col {
        text-align: center;
    }
    .page-tab ion-col button {
        width: 55px;
        height: 10px;
        border-radius: 10px;
    }
    .page-tab ion-col .active {
        background: #abdde3;
    }
    .product-image {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        border: 4px solid #caf5f8;
    }
    .product-image img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .product-image .price-trend-up {
        position: absolute;
        font-weight: bold;
        background: #ff6666;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        top: 33%;
        left: 0%;
    }
    .product-image .price-trend-up ion-icon {
        font-size: 24px;
        color: #fff;
    }
    .product-image .price-trend-down {
        position: absolute;
        font-weight: bold;
        background: #64ff64;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        top: 33%;
        left: 0%;
    }
    .product-image .price-trend-down ion-icon {
        font-size: 24px;
        color: #fff;
    }
    .product-image .price-trend-same {
        position: absolute;
        font-weight: bold;
        background: #fff200;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        top: 33%;
        left: 0%;
    }
    .product-image .price-trend-same .fa-arrows-h {
        font-size: 24px;
        color: #fff;
    }
    .product-list-body .pro-status button {
        border-radius: 0em 4em 4em 0em;
        padding: 10px;
    }
    .product-list-body .pro-status .pro-iteam-no {
        background: #deffbe;
    }
    // .cart-body {
    //     margin-bottom: 25%;
    // }
    .cart-pro-price {
        position: absolute;
        font-weight: bold;
        background: #e9b0b8;
        height: 35px;
        top: 66%;
        left: 0%;
        width: 50%;
        opacity: 0.9;
        padding: 5px 9px;
    }
    .cart-pro-price span {
        display: block;
    }
    .cart-pro-edit span {
        display: block;
    }
    .cart-pro-edit {
        position: absolute;
        font-weight: bold;
        background: #b0e3e9;
        height: 35px;
        top: 66%;
        left: 54%;
        width: 50%;
        opacity: 0.9;
        padding: 5px 9px;
    }
    .cart-iteam-no {
        border-radius: 0em 4em 4em 0em;
        padding: 10px;
        background: #deffbe;
    }
    .btn-submit {
        border: 8px solid #6baef7;
    }
    .btn-back {
        border: 8px solid #f35f70;
        float:right;
    }
    .btn-submit a {
        font-weight:bold;
    }
    .btn-back a {
        font-weight: bold;
    }
    .remove-cart {
        
        font-size:16px;
        float:right;
        background: #ccc;
        padding: 9px;
        border-radius: 153px;
        right: 6px;
        top: 6px;
        height: 30px;
        width: 30px;
        display: table-caption;
        line-height: 12px;
        color:#ff0000;
    }

    .cart-body .card-md
    {
        -webkit-box-shadow: 0px 0px 11px 2px rgba(195,232,235,1) !important;
        -moz-box-shadow: 0px 0px 11px 2px rgba(195,232,235,1) !important;
        box-shadow: 0px 0px 11px 2px rgba(195,232,235,1) !important;
    }
    .cart-body .card-content-md
    {
        padding-left: 0px;
    }

    .cart-body .col
    {
        padding-left: 0px !important;
    }
    .cart-body .grid
    {
        padding-left: 0px !important;
    }

    .cart-body .product-name
    {
        font-size: 18px;
        padding-left: 5px !important;
    }

    .quantity {
        
       
      }
    .cart-body .quantity-btn
    {
    background: #caf5f8;
    border: 1px solid #b3b3b3;
    color: #5a91d5;
    border-radius: 6px;
    padding: 9px 12px;
    }
    .page-tab {
        //margin-top: -2%;
        margin-top: 44%;
        background:#fff;
    }
    .bag-value-card {
        background: #eef9fa;
    }
}