<ion-content padding class="no-scroll pay-success">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h3>Congratulation!!</h3>
      </ion-col>
    </ion-row>

    <ion-row class="custom-tab">
      <ion-col col-3>
        <button class="active"></button>
      </ion-col>
      <ion-col col-3>
        <button></button>
      </ion-col>
      <ion-col col-3>
        <button></button>
      </ion-col>
      <ion-col col-3>
        <button></button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="chec-circle">
          <i class="fa fa-lg fa-check-circle-o" aria-hidden="true"></i>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
          <img class="women-success" src="assets/imgs/women-s.png">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>