page-ordersuccess {
    .pay-success {
        background: #3c8be3;
    }
    .pay-success h3 {
        margin-top:22% !important;
        text-align: center;
        color: #ffffff;
    }
    .custom-tab button {
        width:100%;
        padding:6px;
        border-radius: 6px;
    }
    .chec-circle {
        text-align: center;
    }
    .chec-circle i {
        font-size: 100px;
        color:#ffffff;
        margin-top:10%;
    }
    .women-success {
        padding-top:12%;
    }
}
