
  <!-- <ion-content fullscreen>
      <div class="review-banner">
       <img [src]="recipeBannerImage != ''? recipeBannerImage : 'assets/imgs/no-image.png'">
    
       <div class="review-textarea">
            <form [formGroup]="reviewForm"  novalidate >
          <div class="review-banner-body">
              <button ion-button class="review-write">Write a review</button>
              <button ion-button class="review-submit" (click)="addReview()">Submit</button>
          </div>
          <span class="error-msg" *ngIf="isFieldValid('review')">Please write your feedback.</span>
          <ion-textarea formControlName="review" name="review" [ngClass]="displayFieldCss('review')"></ion-textarea>      
        </form>
      </div>    
      </div>
    </ion-content> -->
    <ion-content fullscreen> 
        <div class="review-banner" [ngStyle]="{'background': 'url(' + recipeBannerImage + ') no-repeat'}">
         <!-- <img [src]="recipeBannerImage != ''? recipeBannerImage : 'assets/imgs/no-image.png'"> -->
      <div class="review-banner-shadow">
          <div class="review-textarea">
              <form [formGroup]="reviewForm"  novalidate >
            <div class="review-banner-body">
                <button ion-button class="review-write">Write a review</button>
                <button ion-button class="review-submit" (click)="addReview()" style="font-weight:bold;font-size:18px;">Submit</button>
            </div>
            <span class="error-msg" *ngIf="isFieldValid('review')">Please write your feedback.</span>
            <ion-textarea formControlName="review" name="review" [ngClass]="displayFieldCss('review')"></ion-textarea>      
          </form>
        </div>   
      </div>
          
        </div>
      </ion-content>