page-review {
    .review-banner img {
        position: relative;
        opacity: 0.5;
    }
    .review-textarea {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
       
    }
    .review-textarea ion-textarea {
        border: 1px solid #000;
        height: 250px;
        width:330px;
        background: #ffffff;
    }
    .review-write{
         border-radius: 0em 4em 4em 0em;
         background: #ff9ea8;
        color:#6983c7;
        margin-left: -16px;
        padding: 28px;
    }
    .review-submit{
         float:right;
         border-radius: 4em 0em 0em 4em;
         background: #c4ddd9;
         color:#6983c7;
         margin-right: -16px;
         padding: 28px;
    }
}
