page-productdetails {
    .pro-button-round {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        text-align: center;
        display: block;
        line-height: 90px;
    }
    .pro-range-slider {
        transform: rotate(270deg);
    }
    // .pro-btn {}
    // .pro-btn {
    //     width: 100px;
    //     background: #b0e3e9;
    // }
    .list-md .item-md {
        background: none;
    }
    button.pro-available {
        background: #deffbe;
        // background: #deffbe;
        z-index: 999;
        position: absolute;
        padding: 13px;
        color: #000;
        font-size: 16px;
        border-radius: 0 25px 25px 0;
        box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.2);
        left: 0;
        top: 22%;
    }
    button.pro-limited {
        background: #f6f0c3;
        z-index: 999;
        position: absolute;
        padding: 13px;
        color: #000;
        font-size: 16px;
        border-radius: 0 25px 25px 0;
        box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.2);
        left: 0;
        top: 22%;
        border: 1px solid #c3c3c3;
        border-left: none
    }
    button.pro-sold {
        background: #ffbec5;
        z-index: 999;
        position: absolute;
        padding: 13px;
        color: #000;
        font-size: 16px;
        border-radius: 0 25px 25px 0;
        box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.2);
        left: 0;
        top: 22%;
        border: 1px solid #c3c3c3;
        border-left: none
    }
    .pro-btn {
        //position: absolute;
        right: -48px;
        //top: 23%;
    }
    // .pro-btn button {
    //     display: block;
    //     background: #caf5f8;
    //     border: 1px solid #b3b3b3;
    //     color: #5a91d5;
    //     font-size: 20px;
    //     border-radius: 10px 0 0 10px;
    //     padding: 19px;
    //     width: 87px;
    // }
    .pro-btn button {
        display: block;
        background: #caf5f8;
        border: 1px solid #b3b3b3;
        color: #5a91d5;
        font-size: 15px;
        border-radius: 10px 0 0 10px;
        padding: 10px;
        width: 75%;
    }
    .range-md .range-bar {
        left: 0px;
        top: 21px;
        position: absolute;
        width: 100%;
        height: 5px;
        background: #297da0;
        pointer-events: none;
        border-radius: 29px;
    }
    .range-md .range-knob-handle {
        top: 23px;
    }
    ion-list.list.list-md {
        color: #1a41ff;
        font-size: 14px;
    }
    ion-list.list.list-md span {
        border: 2px solid #1a41ff6b;
        padding: 4px 11px;
        font-size: 13px;
        text-align: center;
        width: 42px;
        height: 27px;
        display: inline-flex;
        margin-left: 9px;
    }
    .price-saving {
        color: #1a41ff;
        font-size: 14px;
    }
    .price-saving span {
        border: 2px solid #1a41ff6b;
        padding: 4px 11px;
        font-size: 13px;
        text-align: center;
        width: 60px;
        height: 27px;
        display: inline-flex;
        margin-left: 9px;
    }

    .price-saving span .fa-rupee
    {
        display: inline-block;
        vertical-align: middle;
        padding-top: 3px;
    }
}