<!--
  Generated template for the ProductdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the FoodvaluePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content fullscreen *ngIf="visibleKey">
    <div class="product-banner">
        <h5 class="pro-title">{{proDetails.name}}</h5>
        <div class="product-pic">
            <img
                [src]="proDetails.image_small != ''? imageBaseUrl+ proDetails.image_small : 'assets/imgs/no-image.png'">


            <button *ngIf="proDetails.product_stock > 5" class="pro-available">Available</button>
            <button *ngIf="proDetails.product_stock > 0 && proDetails.product_stock < 6"
                class="pro-limited">Limited</button>
            <button *ngIf="proDetails.product_stock < 1" class="pro-sold">Sold Out</button>
        </div>

    </div>
    <div class="product-body">
        <div class="product-foodvalue">
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <ion-list>Rate : <i class="fa fa-rupee"></i>{{proDetails.price}} /
                            {{proDetails.quantity_count}} {{proDetails.unit}}</ion-list>
                    </ion-col>
                    <!-- <ion-col col-2>
                        <ion-list>
                            <ion-item class="pro-range-slider">
                                <ion-range min="1" max="20" (ionChange)="changeRangeValue($event, proDetails)"
                                    [(ngModel)]="rangeValue" color="danger" pin="true"></ion-range>
                            </ion-item>
                        </ion-list>
                    </ion-col> -->
                    <ion-col col-6 class="pro-btn" *ngIf="proDetails.product_stock > 1">
                        <div class="quantity" *ngIf="proDetails.isCart">
                            <button class="quantity-btn" type="button" name="button" (click)="decrement(proDetails)">
                                <ion-icon name="remove"></ion-icon>
                            </button>


                            <span>{{proDetails.quantity}}</span>
                            <button class="quantity-btn" type="button" name="button" (click)="increment(proDetails)">
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </div>
                        <div *ngIf="!proDetails.isCart">
                            <button class="buyNow" (click)="addtoCart(proDetails)" *ngIf="!proDetails.isCart">Add to
                                Cart</button>
                        </div>
                        <div style="padding-top: 10px;">
                            <button class="buyNow" (click)="buyNow(proDetails)">Buy</button>
                        </div>

                    </ion-col>
                </ion-row>
                <ion-row class="price-saving" *ngIf="proDetails.product_stock > 1">
                    <ion-col col-6>Price <span><i class="fa fa-rupee"></i>{{proDetails.totalOurPrice}}</span></ion-col>
                    <ion-col col-6><small>Savings</small><span class="red-box"><i
                                class="fa fa-rupee"></i>{{this.proDetails.totalSavings}}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <div class="pro-button-round fvalue" (click)="openModal()"><a>Food Value</a></div>
                    </ion-col>
                    <ion-col col-4>
                        <div class="pro-button-round recipe" (click)="gotoRecipe(proDetails.id)"><a>Recipe</a></div>
                    </ion-col>
                    <ion-col col-4>
                        <div class="pro-button-round trivia" (click)="gotoTrivia(proDetails.id)"><a>Trivia</a></div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>