page-foodvalue {
    .product-body .product-foodvalue h3 {
        color:#5187d2;
        text-align: center;
    }
    .table-header {
        background: #a7c941;
    }
    .table-header ion-col {
        color:#fff;
    }
}
