page-myaddress {
    .product-banner {
        box-shadow: 0px 15px 10px -15px #111;
        position: fixed;
    }
    .page-tab ion-col {
        text-align: center;
    }
    .page-tab ion-col button {
        width: 55px;
        height: 10px;
        border-radius: 10px;
    }
    .page-tab ion-col .active {
        background: #abdde3;
    }
    .product-image {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        border: 4px solid #caf5f8;
    }
    .product-image img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .delivery-slot ion-item {
        background: #e9f9fb;
        color: #4a82d0;
        font-size: 18px;
    }
    .banner-body h3 {
        color: #4a82d0;
        font-size: 18px;
        padding: 15px;
    }
    .delivery-slot p {
        color: #4a82d0;
        font-size: 18px;
        //padding: 15px;
    }
    .address1 {
        font-weight: bold;
    }
    .error-msg {
        color: #ff0000 !important;
        text-align: center;
    }
    .success-msg {
        color: #008a00 !important;
        text-align: center;
    }

    .page-tab {
        margin-top: 44%;
        background: #fff;
    }
    .address-type1 {
        max-width:100%;
        color:#000;
    }
    // .form-sec button {
    //     background: none;
    //     color:#000;
    // }
    .address-type1 button {
        background:none !important;
        color:#000;
    }
    .cart-body {
        padding-top: 68% !important;
    }
}