<!--
  Generated template for the MyaddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content fullscreen>
  <div class="product-banner">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <div class="profile-pic-small">
            <img
              [src]="profileDetails.profile_image != '' && imageBaseUrl+ profileDetails.profile_image || 'assets/imgs/no-image.png'">
          </div>
        </ion-col>
        <ion-col col-4>
          <ion-list no-lines>{{profileDetails.name}}</ion-list>
          <!-- <ion-list no-lines>Date <small>
              <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
            </small> </ion-list> -->
        </ion-col>
        <ion-col col-5>
      
          <ion-list no-lines>Market Value <span> {{total_market_price}} </span> </ion-list>
          <ion-list no-lines>Savings <span> {{total_market_saving}} </span> </ion-list>
          <ion-list no-lines>Iteam <span> {{customer_cart_data.length}} </span> </ion-list>
          <ion-list no-lines>Bag Value <span> {{total_item_price}} </span> </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="cart-body">
    <div class="page-tab">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <button></button>
          </ion-col>
          <ion-col col-3>
            <button class="active"></button>
          </ion-col>
          <ion-col col-3>
            <button></button>
          </ion-col>
          <ion-col col-3>
            <button></button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="delivery-slot">
      <h3>Choose Preferred Delivery Slot</h3>
     
      <ion-card *ngFor="let myAddress of allAddressList; let i = index" (click)="checkAvailability(i,myAddress.id,myAddress.pincode)">
        <ion-item><span>Saved Address </span> <span class="address-type">{{myAddress.type}}</span></ion-item>
        <ion-item>
          <p>{{myAddress.address}} , {{myAddress.pincode}}</p>
        </ion-item>
        <p class="error-msg"  *ngIf="isAvailable===0 && isActive ==i">Currently out of stock in this area.</p>
      </ion-card>
      
      <ion-card class="new-address">
        <ion-item>
          <a>Check Availability</a>
        </ion-item>
        <form [formGroup]="pinCheckForm" novalidate novalidate>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-input type="text" formControlName="pincheck" placeholder="Pin Code" name="pincheck" [ngClass]="displayFieldCssPinCheck('pincheck')">
                </ion-input>
                <span class="error-msg" *ngIf="isFieldValidPinCheck('pincheck')">Please enter a pincode.</span>
              </ion-col>
      
              <ion-col col-6 style="text-align: center;">
                <button ion-button color="blue" round (click)="checkPinCode()">Check</button>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
            <p class="error-msg"  *ngIf="isAvailablePin===0">Currently out of stock in this area.</p>
            <p class="success-msg"  *ngIf="isAvailablePin>0">Currently available in this area.</p>
              </ion-col>
              </ion-row>
          </ion-grid>
        </form>
      </ion-card>

      <ion-card class="new-address">
        <ion-item>
          <a (click)="addNewAddress()">New Address</a>
        </ion-item>
      </ion-card>
      <ion-card class="form-sec" *ngIf="showAddressForm==true">
        <form [formGroup]="addressForm" novalidate novalidate>
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <ion-label>Type</ion-label>
                <ion-input type="text" formControlName="type" name="type" placeholder="Home/Office"
                  [ngClass]="displayFieldCss('type')"></ion-input>
                <span class="error-msg" *ngIf="isFieldValid('type')">Please enter a Type.</span>
              </ion-col>

              <ion-col col-12>
                <ion-label>Address</ion-label>
                <ion-input type="text" formControlName="address" name="address" [ngClass]="displayFieldCss('address')">
                </ion-input>
                <span class="error-msg" *ngIf="isFieldValid('address')">Please enter a Address.</span>
              </ion-col>
              <ion-col col-12>
                <ion-label>Land Mark</ion-label>
                <ion-input type="text" formControlName="landmark" name="landmark"
                  [ngClass]="displayFieldCss('landmark')"></ion-input>
                <span class="error-msg" *ngIf="isFieldValid('landmark')">Please enter a Land Mark</span>
              </ion-col>

              <ion-col col-6>
                <ion-label>Pin Code</ion-label>
                <ion-input type="text" formControlName="pincode" name="pincode" [ngClass]="displayFieldCss('pincode')">
                </ion-input>
                <span class="error-msg" *ngIf="isFieldValid('pincode')">Please enter a pincode.</span>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-12 style="text-align: center;">
                <button ion-button color="dark" round (click)="submitAddress()">Submit</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card>

    </div>

  </div>

</ion-content>