<!--
  Generated template for the OrderdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content fullscreen>
    <div class="body-section">
        <div class="product-banner">
            <ion-grid>
                <ion-row>
                    <ion-col col-3>
                        <div class="profile-pic-small">
                            <img
                                [src]="profileDetails.profile_image != '' && imageBaseUrl+ profileDetails.profile_image || 'assets/imgs/no-image.png'">
                        </div>
                    </ion-col>
                    <ion-col col-4>
                        <ion-list no-lines>{{profileDetails.name}}</ion-list>
                    </ion-col>
                    <ion-col col-5>
                        <ion-list no-lines>Value <span> {{orderDetails.total_price}} </span> </ion-list>
                        <ion-list no-lines>Iteam <span> {{productList.length}} </span> </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <ion-list no-lines>Date : <span> {{orderDetails.date_created}} </span> </ion-list>
                        <ion-list no-lines>Order No : <span> {{orderDetails.order_no}} </span> </ion-list>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="order-list-body">
            <ion-grid>
                <ion-row>
                    <ion-col col-3>
                        <ion-list no-lines>Image</ion-list>
                    </ion-col>
                    <ion-col col-3>
                        <ion-list no-lines>Iteams</ion-list>
                    </ion-col>
                    <ion-col col-2>
                        <ion-list no-lines>Qnty </ion-list>
                    </ion-col>
                    <ion-col col-2>
                        <ion-list no-lines>Rate</ion-list>
                    </ion-col>
                    <ion-col col-2>
                        <ion-list no-lines>Amount</ion-list>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let product of productList; let i = index">
                    <ion-col col-3>
                        <ion-list no-lines>

                            <img
                                [src]="product.product_image_small != '' && imageBaseUrl+ product.product_image_small || 'assets/imgs/no-image.png'">

                        </ion-list>
                    </ion-col>
                    <ion-col col-3>
                        <ion-list no-lines>{{product.product_name}}</ion-list>
                    </ion-col>
                    <ion-col col-2>
                        <ion-list no-lines>{{product.quantity}} </ion-list>
                    </ion-col>
                    <ion-col col-2>
                        <ion-list no-lines>{{product.unit_price}}</ion-list>
                    </ion-col>
                    <ion-col col-2>
                        <ion-list no-lines>{{product.total_cost}}</ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <ion-list no-lines>Manch Mangsho More</ion-list>
                        <ion-list no-lines>
                            Payment Mode
                            <p *ngIf="orderDetails.is_paid==0">Pending</p>
                            <p *ngIf="orderDetails.is_paid==1">Paid</p>
                            <p *ngIf="orderDetails.is_paid==2">Cancel</p>
                        </ion-list>

                    </ion-col>
                    <ion-col col-6>
                        <ion-list no-lines>Delivery <span> 0 </span> </ion-list>
                        <ion-list no-lines>Total <span>{{orderDetails.total_price}} </span> </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>


</ion-content>
<!-- <ion-footer>
    <ion-toolbar>
        <button ion-button round>Continue</button>
        <button ion-button round (click)="goBack()">Back</button>
    </ion-toolbar>
</ion-footer> -->