page-spendingpattern {
    .spend-savings h3 {
        font-weight:bold;
        text-align:left;
    }
    // .spend-savings h3 span {
    //     padding-left:25px;
    // }


    .bargraph-button {
        height: 21px;
        float: right;
        font-size: 12px;
    }
    .stxt {
        padding:25px;
    }

    // .bar-graph-button {
    //     background:
    // }
    
}
