page-trivia {
    .trivia-list-body h4 {
        text-align: center;
        color:#4a81d0;
    }   
    .trivia-list-body ion-card-title {
        font-size:16px !important;
        color:#4a81d0;
    }
    .trivia-list-body p{
        color:#4a81d0;
    }
}
