page-rating {
    .product-banner-rating {
        height: 134px;
    }
    .product-banner-rating {}
    .checked {
        color: #ccc;
    }
    .review-button {
        border-radius: 0em 4em 4em 0em;
        background: #ff9ea8;
        color: #6983c7;
    }
    .rate-btn {
        margin-top: 25%;
        font-size: 18px;
    }
    .product-banner-rating a {
        text-align: center;
        display: block;
        margin: 22px auto;
        width: 50%;
    }

    ul {
        padding: 0px;
      
        &.rating li {
          padding: 5px 10px !important;
          background: none;
          color: #ffb400;
      
          ion-icon {
            font-size: 30px;
          }
        }
      }
      .product-banner {
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
}