<ion-content padding class="no-scroll dashboard-page">
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="Ionic logo">
  </div>
  <div class="dashboard-body">
    <div class="product-banner-search">
      <form id="search-form" class="form-inline">
        <div class="input-group">
            <button (click)="proSearch(searchText)" ion-button color="default" round  class="text-search-btn">Search</button>
          <input type="text" name="searchText" [(ngModel)]="searchText" class="form-control search-form" placeholder="Search Product">
          <span class="input-group-btn"><button type="submit" class="btn btn-primary search-btn" data-target="#search-form"
              name="q"><i (click)="start()" class="fa fa-microphone" aria-hidden="true"></i>

            </button>
          </span>
        </div>
      </form>

      <ion-grid>
        <ion-row>
          <ion-col col-6 class="left-col">
            <div class="dashboard-women-img">
              <img src="assets/imgs/women-dashboard.png">
              <button class="call-button">Call</button>
            </div>
          </ion-col>
          <ion-col col-6 class="right-col">
            <div class="dashborad-button">
              <button (click)="gotoPage('TodayspecialPage')"><span>Today's Special</span></button>
            </div>
            <div class="dashborad-button">
              <button *ngIf="loggedIn==true" (click)="gotoPage('OrderhistoryPage')" ><span>Repeat Order</span></button>
            </div>
            <div class="dashborad-button">
              <button (click)="gotoPage('CombooffertPage')" ><span>Combo Offers</span></button>
            </div>
            <div class="dashborad-button">
              <button (click)="gotoPage('AlacartPage')"><span>À la carte</span></button>
            </div>

          </ion-col>
        </ion-row>

      </ion-grid>
    </div>


  </div>

</ion-content>