page-dashboard {
    .dashboard-page {
        position: relative;
    }
    .dashboard-women-img img {
        position: absolute;
    }
    .dashboard-body {
        margin-bottom: 10%;
    }

    .dashboard-body img {
        padding-top: 70px;
    }
    .product-banner-image .product-banner-search {
        padding: 15px;
    }
    .search-form {
        width: 93%;
    }
    .form-inline .input-group::before {
        left: 1px;
    }
    .left-col {
        right:21px;
    }
    .right-col {
        right:-31px;
    }
    .dashborad-button {

    }
    .dashborad-button button {
        display: block;
        background: #caf5f8;
        border: 1px solid #b3b3b3;
        color: #5a91d5;
        font-size: 15px;
        border-radius: 20px 10px 10px 20px;
        padding: 20px;
        width: 100%;
        margin-bottom: 25%;
    }
    .dashborad-button button span {
        color:#000000;
    }
    .call-button {
        background: #caf5f8;
        z-index: 999;
        position: absolute;
        padding: 13px;
        color: #000;
        font-size: 16px;
        border-radius: 0 25px 25px 0;
        left: 0;
        top: 75%;
        border: 1px solid #c3c3c3;
        border-left: none;
        opacity: 0.8;
    }


.text-search-btn {
    left: -3px !important;
}
.voice-search {
    position: absolute;
    top: -9%;
    left: 46%;
    width: 81%;
}
.voice-search-txt {
    position: absolute;
    top: 52%;
    right: 1%;
    font-size: 11px;
}
    
}