page-dashboard {
    .dashboard-page {
        position: relative;
    }

    .dashboard-body img {
        padding-top: 10px;
    }
    .product-banner-image .product-banner-search {
        padding: 15px;
    }
    .search-form {
        width: 93%;
    }
    .form-inline .input-group::before {
        left: 1px;
    }
    
}