<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar no-border-bottom style="background-color:none">
    <button class="top-header-button">Help</button>
    <ion-buttons end>
      <button ion-button icon-only color="light">
        <i class="fa fa-shopping-bag fa-2x "></i>
      </button>
      <button class="top-header-button" (click)="gotoProfile()">My Profile</button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar class="sub-header">
    <ion-icon name="ios-arrow-back-outline" class="sub-header-back"></ion-icon>
    <ion-buttons end>
      <button ion-button menuToggle color="light" class="sub-header-menu">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  -->

<!-- <ion-header>
  <ion-navbar no-border-bottom style="background-color:none">
    <button ion-button menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header> -->


<ion-content padding class="no-scroll dashboard-page">
    <div class="logo">
        <img src="assets/imgs/logo.png" alt="Ionic logo">
    </div>

    <div class="dashboard-body">
        <img src="assets/imgs/women1.png">
        <button *ngIf="showCat==1" class="cat-more" (click)="moreCategory()"><span >More</span></button>

        <ul class="product-vertical-menu">
            <li  (click)="goToProList(category.id)" *ngFor="let category of categoryList; let i = index">
                <!-- <img src="assets/imgs/group1.png"> -->
                <img [src]="category.image_small != '' && imageBaseUrl+ category.image_small || 'assets/imgs/no-image.png'">
              
            </li>
            <!-- <li *ngIf="showCat==1" (click)="goToProList()">
                <img src="assets/imgs/group1.png">
            </li>
            <li *ngIf="showCat==1" (click)="goToProList()">
                <img src="assets/imgs/group2.png" (click)="goToProList()">
            </li>
            <li *ngIf="showCat==1">
                <img src="assets/imgs/group3.png" (click)="goToProList()">
            </li>
            <li *ngIf="showCat==2">
                <img src="assets/imgs/group4.png" (click)="goToProList()">
            </li>
            <li *ngIf="showCat==2">
                <img src="assets/imgs/group5.png" (click)="goToProList()">
            </li>
            <li *ngIf="showCat==2">
                <img src="assets/imgs/group6.png" (click)="goToProList()">
            </li> -->
        </ul>
        <button *ngIf="showCat==2" class="cat-less" (click)="lessCategory()"><span >Back</span></button>

    </div>



    <button class="footer-bottom-right"><span>Order</span></button>

</ion-content>