// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.ion-page>ion-content {
    top: 75px; //your headers height
}

.sub-header .toolbar-background {
    background: #eef9fa;
}

.ion-ios-arrow-back-outline:before {
    width:25px;
}

.logo {
    padding: 0;
    min-height: 180px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 170px !important;
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub-header {
    min-height: 0px;
}

.top-header-button {
    background: none;
    color: #1a87fe;
    font-size: 16px;
}

.fa-shopping-bag {
    height: 53px;
    color: #B51E19;
}

.sub-header-menu {
    color: #92d9e2;
}

.sub-header-back {
    font-size: 25px;
    color: #92d9e2;
}

.profile-banner {
    padding: 10px 0px 0px 0px;
    background: #caf5f8;
    background-size: cover;
    background-position: center center;
    padding-top: 30px;
}

.profile-pic {
  
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;

}

.profile-pic img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.profile-pic { position: relative;  }
.profile-pic i {    position: absolute;
top: 19px;
right: -5px;
color: #2a92fe;
z-index: 99;
background: #fffbfb;
padding: 8px;
border-radius: 100%; }
.profile-banner h3 {
    color: #000;
    margin-bottom: 0;
    font-size: 2rem;
    margin-top: 0rem;
    text-align: center;
}

.profile-pic-small {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.product-banner {
    background: #edecec;
    background-size: cover;
    background-position: center center;
    padding: 30px 0px;
}

.product-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: 4px solid #bce3e6;
}

.product-pic img {
    width: 100%;
    height: 100%;
}

.product-banner .pro-title {
    color: #9db9df;
    margin-bottom: 8px;
    font-size: 1.6rem;
    margin-top: 0rem;
    text-align: center;
}

.btn-round {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    display: block;
    line-height: 90px;
}

// App side bar start 
// left-bar
.left-bar-top-area {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.left-top-pic {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 15px;
    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
}

.left-bar-top-area h5 {
    margin: 0;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.left-bar-top-area p {
    margin: 0;
    color: #fff;
}

.left-sidebar-list.list .item-block {
    border-bottom: #e1e1e1 1px solid;
    padding: 6px 16px;
}

.left-sidebar-list.list .item-block .icon {
    color: #555;
}

.left-sidebar-list.list .item-block .item-inner {
    border: none;
    margin-left: 7px;
}

.left-sidebar-list.list .item-block .item-inner .label {
    color: #555;
}

.left-sidebar-list.list .item-block .item-inner {
    background-image: none !important;
}

.toolbar-title {
    text-align: center;
    color: #fff !important;
}

.toolbar .back-button-text {
    display: none;
}

.search-form {
    border-radius: 30px 0px 0px 30px;
    height: 35px;
    padding-left: 47px;
    border: 1px solid #8c8c8c;
}

.search-btn {
    border-radius: 100%;
    cursor: pointer;
    background: #92d9e2;
    font-size: 14px;
    height: 35px;
    color: #fff;
    width: 35px;
    margin-left: -20px;
}

.form-inline .input-group {
    position: relative;
}

.form-inline .input-group::before {
    content: "Search";
    background: #92d9e2;
    color: #000;
    top: 0;
    left: 30px;
    padding: 9px 23px 9px 15px;
    position: absolute;
    z-index: 0;
    border-radius: 25px;
}

button.btn-menu {
    padding: 15px;
    background: #92d9e2;
    border-radius: 14px;
    color: #fff;
}

.cart-bag-value {
    text-align: center;
    color: #f35f70;
}

.product-banner {
    color: #1a41ff;
    font-size: 17px;
}

.product-banner span {
    float: right;
}

.product-list-body {
    margin-bottom: 25%;
}

.cart-body {
    color: #1a41ff;
    font-size: 17px;
    margin-bottom: 25%;
}

.cart-body h3 {
    font-size: 17px;
    padding-left: 33px;
}

.span-red span {
    color: #f5223a;
    font-weight: bold;
    text-align: right;
}

.product-pic-small {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #abdde3;
}

// App side bar end
// My Address page  start
.new-address a {
    text-align: center;
    font-weight: bold;
    padding: 15px 10px;
    display: block;
}

.address-type {
    float: right;
}

// My address page end 
// Page  Food Value 
.product-foodvalue {
    margin-bottom: 25%;
}

// Recipe List page
.recipe-list-body {
    margin-bottom: 25%;
}

// For cart icon in header 
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #1a87fe;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    margin-top: -35px;
}

.rating-part {
    margin: 40px auto;
    display: table;
}

.rating-part span {
    font-size: 42px;
    position: relative;
}

.rating-part span small {
    position: absolute;
    color: #fff;
    font-size: 15px;
    top: 13px;
    left: 16px;
    font-weight: bold;
    z-index: 99;
}

.center-btn {
    margin: 39px auto;
    display: block;
}

.btn-submit {
    border: 6px solid #6baef7;
    box-shadow: 4px 4px 11px 1px rgba(1, 0, 0, 0.20);
}

.btn-back {
    border: 6px solid #f35f70;
    box-shadow: 4px 4px 11px 1px rgba(1, 0, 0, 0.20);
}

.fvalue {
    border: 6px solid #f6e145;
    box-shadow: 4px 4px 11px 1px rgba(1, 0, 0, 0.20);
}

.recipe {
    border: 6px solid #f35f70;
    box-shadow: 4px 4px 11px 1px rgba(1, 0, 0, 0.20);
}

.trivia {
    border: 6px solid #6baef7;
    box-shadow: 4px 4px 11px 1px rgba(1, 0, 0, 0.20);
}

.price-saving small {
    color: #f35f70;
    font-size: 17px;
}

.price-saving .red-box {
    border: 2px solid #f35f70 !important;
}

.product-list-body .delete {
    background: #ccc;
    position: absolute;
    padding: 9px;
    border-radius: 153px;
    right: 6px;
    top: 6px;
    height: 30px;
    width: 30px;
    display: table-caption;
    line-height: 12px;
    color:#ff0000;
}

.product-list-body .favrate {
    background: #ccc;
    position: absolute;
    padding: 9px;
    border-radius: 153px;
    right: 6px;
    top: 6px;
    height: 30px;
    width: 30px;
    display: table-caption;
    line-height: 12px;
}

.product-list-body .card-content-md {
    position: relative;
}

.product-list-body .product-detais {
    position: absolute;
    left: 0;
    top: 46px;
    width: 50%;
}

.product-list-body .product-detais .list {
    padding-left: 15px;
}


.form-sec
{
    background-color: #e9f9fb;
}
.form-sec ion-card-header {
    border-bottom: 1px solid #d4d4d4;
    background-color: #1a87fe;
}

.form-sec ion-label {
    color: #6c6c6c;
    font-size: 12px;
    margin: 2px 2px 2px 0px !important;
}


.form-sec button {
    padding: 4px 22px;
    font-size: 11px;
    background-color: #1a87fe !important;
}

.error-msg
{
    padding: 0;
    margin: 0;
    background: none;
    color: #ff0000;
    font-size: 11px;
}