<!-- <ion-menu [content]="content"> -->
<ion-header class="bar bar-header bar-royal" *ngIf="!topHeaderIsHidden">

    <ion-navbar no-border-bottom style="background-color:none">
        <button class="top-header-button">Help</button>

        <ion-buttons end>
            <button (click)="gotoPage('CartPage')" ion-button icon-only color="light">
                <i class="fa fa-shopping-bag fa-2x "></i>
                <span class='badge badge-warning' id='lblCartCount'> {{totalCart}} </span>
            </button>
            <button class="top-header-button" (click)="gotoPage('ProfilePage')">My Profile</button>
        </ion-buttons>

    </ion-navbar>

    <ion-toolbar class="sub-header" *ngIf="!subHeaderIsHidden">
        <ion-icon name="ios-arrow-back-outline" class="sub-header-back" (click)="goback()"></ion-icon>
        <ion-buttons end>
            <button ion-button menuToggle color="light" class="sub-header-menu">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-menu [content]="mycontent">
    <ion-content>
        <ion-toolbar color="orange">
            <div class="left-bar-top-area">
                <div class="left-top-pic">
                    <img [src]="userImage != '' && imageBaseUrl+userImage || 'assets/imgs/no-image.png'">
                </div>
                <div class="avatar-circle">
                    <span class="initials">{{userName}}</span>
                </div>
                <div>
                </div>
            </div>
        </ion-toolbar>

        <ion-item (click)="logOut()" *ngIf="loggedIn==false">
                Login
                <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>

        <ion-item (click)="gotoPage('DashboardPage')">
            Dashboard
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>
        <ion-item *ngIf="loggedIn==true" (click)="gotoPage('OrderhistoryPage')">
            Order History
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>

        <ion-item *ngIf="loggedIn==true">
            Personal Details
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
            <button class="btn-menu" (click)="gotoPage('ProfileeditPage')">Edit</button>
            <button class="btn-menu" (click)="gotoPage('ProfileviewPage')">View</button>
        </ion-item>
        <ion-item *ngIf="loggedIn==true" (click)="gotoPage('WishlistPage')">
            Wish List
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>
        <ion-item *ngIf="loggedIn==true">
            Spending Pattern
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>
        <!-- <ion-item>
            Recipes
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item> -->
        <ion-item (click)="logOut()" *ngIf="loggedIn==true">
            Logout
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>
        <ion-item (click)="gotoPage('TestPage')">
            Test
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>

    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage" swipeBackEnabled="false"></ion-nav>