<!-- <ion-menu [content]="content"> -->
<ion-header class="bar bar-header bar-royal" *ngIf="!topHeaderIsHidden">

    <ion-navbar no-border-bottom style="background-color:none">
        <button class="top-header-button">Help</button>

        <ion-buttons end >
            <button (click)="gotoCartPage()" ion-button icon-only color="light" >
                    <i class="fa fa-shopping-bag fa-2x "></i>
                    <span class='badge badge-warning' id='lblCartCount'> {{totalCart}} </span>
            </button>
            <button class="top-header-button" (click)="gotoProfile()">My Profile</button>
        </ion-buttons>

    </ion-navbar>

    <ion-toolbar class="sub-header" *ngIf="!subHeaderIsHidden">
        <ion-icon name="ios-arrow-back-outline" class="sub-header-back" (click)="goback()"></ion-icon>
        <ion-buttons end>
            <button ion-button menuToggle color="light" class="sub-header-menu">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<!-- <ion-content>
    <button menuClose ion-item>
      Menu 1
    </button>
  </ion-content>
</ion-menu> -->

<ion-menu [content]="mycontent">
    <ion-content>
        <ion-toolbar color="orange">
            <div class="left-bar-top-area">
                <div class="left-top-pic">

                    <img [src]="userImage != '' && imageBaseUrl+ userImage || 'assets/imgs/no-image.png'">
                </div>
                <div class="avatar-circle">
                    <span class="initials">{{userName}}</span>
                </div>
                <div>
                </div>
            </div>
        </ion-toolbar>
        <!-- <ion-list>
      <button menuClose ion-item icon-left>
          <ion-icon item-left name="ios-add-circle-outline" ></ion-icon>
         Profile
        </button>
      </ion-list> -->
        <ion-item (click)="gotoDashboard()">
            Dashboard
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>
        <ion-item (click)="gotoOrderHistory()">
            Order History
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>

        <ion-item>
            Personal Details
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
            <button class="btn-menu" (click)="gotoEditProfile()">Edit</button>
            <button class="btn-menu" (click)="gotoViewProfile()">View</button>
        </ion-item>
        <ion-item (click)="gotoWishList()">
            Wish List
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>
        <ion-item>
            Spending Pattern
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>
        <ion-item>
            Recipes
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>
        <ion-item (click)="logOut()">
            Logout
            <ion-icon name="ios-arrow-forward-outline" class="profile-forward"></ion-icon>
        </ion-item>

    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage" swipeBackEnabled="false"></ion-nav>