<!--
  Generated template for the ProfileeditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>profileedit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content> -->
<ion-content fullscreen>
  <div class="profile-banner">
    <div class="profile-pic" (click)="presentActionSheet()">
        <i class="fa fa-camera" aria-hidden="true"></i>

      <img [src]="userImage != '' && imageBaseUrl+ profileDetails.profile_image || 'assets/imgs/no-image.png'">
    </div>

  </div>
  <div class="profile-edit-body">
    <ion-card>
      <ion-row class="profile-edit-title">
        <ion-col col-9>
          <h3>Name</h3>
        </ion-col>
        <ion-col col-3>
          <h3 (click)="ShowSaveButton(1)">Edit</h3>
          <h3 (click)="updateProfile(profileDetails)" *ngIf="isShowId==1">Save</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-col col-12> {{profileDetails.name}}</ion-col> -->
        <ion-item class="mb-1">
          <ion-input type="text" name="name" [(ngModel)]="profileDetails.name" placeholder="Name"></ion-input>
        </ion-item>
  
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row class="profile-edit-title">
        <ion-col col-9>
          <h3>Email</h3>
        </ion-col>
        <ion-col col-3>
          <h3 (click)="ShowSaveButton(2)">Edit</h3>
          <h3 (click)="updateProfile(profileDetails)" *ngIf="isShowId==2">Save</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-col col-12>{{profileDetails.contact}}</ion-col> -->
        <ion-item class="mb-1">
          <ion-input type="text" name="email" [(ngModel)]="profileDetails.email" placeholder="Email"></ion-input>
        </ion-item>
      </ion-row>
    </ion-card>


    <ion-card>
      <ion-row class="profile-edit-title">
        <ion-col col-9>
          <h3>Contact Number</h3>
        </ion-col>
        <ion-col col-3>
          <h3 (click)="ShowSaveButton(3)">Edit</h3>
          <h3 (click)="updateProfile(profileDetails)" *ngIf="isShowId==3">Save</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-col col-12>{{profileDetails.contact}}</ion-col> -->
        <ion-item class="mb-1">
          <ion-input type="text" name="contact" [(ngModel)]="profileDetails.contact" placeholder="Contact"></ion-input>
        </ion-item>
      </ion-row>
    </ion-card>

  </div>
</ion-content>