page-profileedit {
    .profile-edit-body .profile-edit-title {
        border:1px solid #ccc;
        background: #eef9fa;
    }
    .profile-edit-body .profile-edit-title > ion-col {
        border-right: 1px solid #ccc;
    }

   .profile-edit-body h3 {
        font-size:1.6rem;
    }
    .centerize {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    ion-row:last-child {
        margin-bottom: 35px;
      }
}

