<!--
  Generated template for the ProfileeditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content fullscreen>
  <div class="profile-banner">
    <div class="profile-pic" (click)="presentActionSheet()">
      <i class="fa fa-camera" aria-hidden="true"></i>
      <img
        [src]="profileDetails.profile_image != ''? imageBaseUrl+ profileDetails.profile_image : 'assets/imgs/no-image.png'">
    </div>

  </div>
  <div class="profile-edit-body">
    <ion-card>
      <ion-row class="profile-edit-title">
        <ion-col col-8>
          <h3>Name</h3>
        </ion-col>
        <ion-col col-4>
          <h3 (click)="ShowSaveButton('name',1)" *ngIf="isNameShowId==0">Edit</h3>
          <h3 (click)="updateProfile(profileDetails)" *ngIf="isNameShowId==1">Save</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item *ngIf="isNameShowId==0">{{profileDetails.name}}</ion-item>
          <ion-input type="text" name="name" [(ngModel)]="profileDetails.name" placeholder="Name"
            *ngIf="isNameShowId==1"></ion-input>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card>
      <ion-row class="profile-edit-title">
        <ion-col col-8>
          <h3>Email</h3>
        </ion-col>
        <ion-col col-4>
          <h3 (click)="ShowSaveButton('email',1)" *ngIf="isEmailShowId==0">Edit</h3>
          <h3 (click)="updateProfile(profileDetails)" *ngIf="isEmailShowId==1">Save</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item *ngIf="isEmailShowId==0">{{profileDetails.email}}</ion-item>
          <ion-input type="text" name="email" [(ngModel)]="profileDetails.email" placeholder="Email"
            *ngIf="isEmailShowId==1"></ion-input>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row class="profile-edit-title">
        <ion-col col-8>
          <h3>Contact Number</h3>
        </ion-col>
        <ion-col col-4>
          <h3 (click)="ShowSaveButton('contact',1)" *ngIf="isContactShowId==0">Edit</h3>
          <h3 (click)="updateProfile(profileDetails)" *ngIf="isContactShowId==1">Save</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item *ngIf="isContactShowId==0">{{profileDetails.contact}}</ion-item>
          <ion-input type="text" name="contact" [(ngModel)]="profileDetails.contact" placeholder="Contact"
            *ngIf="isContactShowId==1"></ion-input>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card *ngFor="let myAddress of allAddressList; let i = index">
      <ion-row class="profile-edit-title">
        <ion-col col-8>
          <h3>{{myAddress.type}}</h3>
        </ion-col>
        <ion-col col-4>
            <h3 (click)="showAddressForm(myAddress.id)">Edit</h3>
            <!-- <h3 (click)="updateProfile(profileDetails)" *ngIf="isaddressShowId==1">Save</h3> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>{{myAddress.address}} , {{myAddress.pincode}}</ion-item>
        </ion-col>
      </ion-row>
      <ion-row >

     
          <!-- <form [formGroup]="addressForm" novalidate novalidate> 
                <ion-grid>
                  <ion-row>
                    <ion-col col-12>
                      <ion-label>Type</ion-label>
                      <ion-input type="text" formControlName="type" [(ngModel)]="myAddress.type" name="type" placeholder="Home/Office"
                        [ngClass]="displayFieldCss('type')"></ion-input>
                      <span class="error-msg" *ngIf="isFieldValid('type')">Please enter a Type.</span>
                    </ion-col>
      
                    <ion-col col-12>
                      <ion-label>Address</ion-label>
                      <ion-input type="text" formControlName="address" name="address"  [(ngModel)]="myAddress.address" [ngClass]="displayFieldCss('address')">
                      </ion-input>
                      <span class="error-msg" *ngIf="isFieldValid('address')">Please enter a Address.</span>
                    </ion-col>
                    <ion-col col-12>
                      <ion-label>Land Mark</ion-label>
                      <ion-input type="text" formControlName="landmark" name="landmark"
                        [ngClass]="displayFieldCss('landmark')"></ion-input>
                      <span class="error-msg" *ngIf="isFieldValid('landmark')">Please enter a Land Mark</span>
                    </ion-col>
      
                    <ion-col col-12>
                      <ion-label>Pin Code</ion-label>
                      <ion-input type="text" formControlName="pincode" name="pincode"  [(ngModel)]="myAddress.pincode" [ngClass]="displayFieldCss('pincode')">
                      </ion-input>
                      <span class="error-msg" *ngIf="isFieldValid('pincode')">Please enter a pincode.</span>
                    </ion-col>
                  </ion-row>
      
                  <ion-row>
                    <ion-col col-12 style="text-align: center;">
                      <button ion-button color="dark" round (click)="submitAddress()">Submit</button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </form>   -->
      </ion-row>
    </ion-card>
    <ion-card *ngIf="isShowAddressForm==1">
        <ion-row >
          <ion-col col-12>
        
            <form [formGroup]="addressForm" novalidate novalidate> 
                  <ion-grid>
                    <ion-row>
                      <ion-col col-12>
                        <ion-label>Type</ion-label>
                        <ion-input type="text" formControlName="type" [(ngModel)]="addressDetails.type" name="type" placeholder="Home/Office"
                          [ngClass]="displayFieldCss('type')"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid('type')">Please enter a Type.</span>
                      </ion-col>
        
                      <ion-col col-12>
                        <ion-label>Address</ion-label>
                        <ion-input type="text" formControlName="address" name="address"  [(ngModel)]="addressDetails.address" [ngClass]="displayFieldCss('address')">
                        </ion-input>
                        <span class="error-msg" *ngIf="isFieldValid('address')">Please enter a Address.</span>
                      </ion-col>
                      <ion-col col-12>
                        <ion-label>Land Mark</ion-label>
                        <ion-input type="text" formControlName="landmark" name="landmark"
                          [ngClass]="displayFieldCss('landmark')"></ion-input>
                        <span class="error-msg" *ngIf="isFieldValid('landmark')">Please enter a Land Mark</span>
                      </ion-col>
        
                      <ion-col col-12>
                        <ion-label>Pin Code</ion-label>
                        <ion-input type="text" formControlName="pincode" name="pincode"  [(ngModel)]="addressDetails.pincode" [ngClass]="displayFieldCss('pincode')">
                        </ion-input>
                        <span class="error-msg" *ngIf="isFieldValid('pincode')">Please enter a pincode.</span>
                      </ion-col>
                    </ion-row>
        
                    <ion-row>
                      <ion-col col-12 style="text-align: center;">
                        <button ion-button color="dark" round (click)="submitAddress()">Submit</button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </form> 
              </ion-col>
        </ion-row>
    </ion-card>

  </div>
</ion-content>