<!--
  Generated template for the RecipedetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content fullscreen>
  <div class="product-banner" [ngStyle]="{'background': 'url(' + recipeBannerImage + ')'}">
   
    <div class="product-pic">
      <img [src]="recipeDetails.blog_small_image != '' && imageBaseUrl+ recipeDetails.blog_small_image || 'assets/imgs/no-image.png'" alt="" />
    </div>
  </div>
  <div class="recipe-list-body">
    <h3 class="recipe-title">{{recipeDetails.blog_title}}</h3>
      <div class="recipe-detail-content">
        <div [innerHtml]="recipeDetails.blog_content">
        </div>
      </div>
      <div class="recipe-below-content">
          <button class="recipe-rate" ion-button round (click)="gotoRatePage(recipeDetails.id)"><span>Rate </span></button>
          <button class="recipe-share" ion-button round (click)="shareInfo(recipeDetails)"><span>Share </span></button>
      </div>

  </div>
</ion-content>