<!--
  Generated template for the RecipedetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content fullscreen>
  <div class="product-banner" [ngStyle]="{'background': 'url(' + recipeBannerImage + ')'}">
   
    <div class="product-pic">
      <img [src]="recipeDetails.blog_small_image != '' && imageBaseUrl+ recipeDetails.blog_small_image || 'assets/imgs/no-image.png'" alt="" />
    </div>
  </div>
  <div class="recipe-list-body">
    <h3 class="recipe-title">{{recipeDetails.blog_title}}</h3>
    <!-- <h4 class="recipe-sub-title">By user Name</h4> -->

      <div class="recipe-detail-content">
        <div [innerHtml]="recipeDetails.blog_content">
          
          <!-- <ul >
            <li > <span >250</span> <span>grams</span>
              <span >brinjal</span> <span >or
                eggplant </span></li>
            <li > <span >2</span> <span >tbsp</span>
              <span>oil</span></li>
            <li > <span >¼</span> <span >tsp</span>
              <span >mustard</span></li>
            <li > <span >¼</span> <span >tsp</span>
              <span >cumin</span> <span >or
                jeera</span></li>
            <li > <span >1</span> <span >sprig</span>
              <span >curry leaves</span> <span >(skip
                if you don't have)</span></li>
            <li > <span >¾</span> <span >cup</span>
              <span>onions</span> <span >chopped
                finely (2 medium)</span></li>
            <li> <span class="wprm-recipe-ingredient-amount">1</span> <span >green
                chili</span> <span >(chopped or slit)</span></li>
            <li> <span class="wprm-recipe-ingredient-amount">1</span> <span >large</span>
              <span >tomato</span> <span >chopped
                (about ½ cup)</span></li>
            <li> <span class="wprm-recipe-ingredient-amount">1</span> <span >tsp</span>
              <span ><a href="https://www.indianhealthyrecipes.com/ginger-garlic-paste-recipe/"
                  target="_blank">ginger garlic paste</a></span> <span >or fine
                chopped garlic</span></li>
            <li> <span class="wprm-recipe-ingredient-amount">¼ to ½</span> <span >tsp</span>
              <span >red chili powder </span> <span >(adjust
                to suit your taste)</span></li>
            <li> <span class="wprm-recipe-ingredient-amount">1/8</span> <span >tsp</span>
              <span > turmeric</span> <span >or
                haldi</span></li>
            <li> <span >Salt as needed</span></li>
            <li> <span class="wprm-recipe-ingredient-amount">½ to ¾ </span> <span >tsp</span>
              <span ><a href="https://www.indianhealthyrecipes.com/punjabi-garam-masala-powder-recipe/"
                  target="_blank">garam masala</a></span> <span >(optional)</span></li>
            <li> <span class="wprm-recipe-ingredient-amount">2</span> <span >tbsp</span>
              <span >coriander leaves</span> <span >chopped
                (optional)</span></li>
          </ul> -->
        </div>
      </div>
      <div class="recipe-below-content">
          <button class="recipe-rate" ion-button round (click)="gotoRatePage()"><span>Rate </span></button>
          <button class="recipe-share" ion-button round><span>Share </span></button>
      </div>

  </div>
</ion-content>