page-allrecipelist {
    .recipe-list-body ion-card-content {
        border:2px solid #caf5f8;
    }
    .recipe-list-body ion-card {
        border-radius: 4%;
    }
    .recipe-image {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        border:4px solid #caf5f8;
    }
    .recipe-image img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .product-list-body ion-card-content {
        border:2px solid #caf5f8;
    }
    .product-list-body ion-card {
        border-radius: 4%;
    }
    .product-list-body .pro-status button {
        border-radius: 0em 4em 4em 0em;
        padding: 10px;
    }
    .product-list-body .pro-status .pro-available {
        background: #deffbe;
       
    }
    .product-list-body .pro-status .pro-sold {
        background: #ffbec5;
    }
    .product-list-body  .pro-status .pro-limited {
        background: #f6f0c3;
    }
    .product-image .price-trend-down ion-icon {
        font-size: 24px;
        color:#fff;
    }
    .recipe-type{
        position: absolute;
        font-weight: bold;
        background: #e9b0b8;
        height: 35px;
        top: 66%;
        left: 0%;
        width:50%;
        opacity: 0.9;
    }
    .recipe-language {
        position: absolute;
        font-weight: bold;
        background: #b0e3e9;
        height: 35px;
        top: 66%;
        left: 54%;
        width:50%;
        opacity: 0.9;
    }
    .recipe-type span {
        display:block;
    }
    .recipe-language span {
        display:block;
    }
    .recipe-name {
        color: #6b99d8;
        padding-left: 10px;
        font-size: 16px;
    }
    .recipe-category button {
        border-radius: 0em 4em 4em 0em;
        padding: 10px;
    }
    .recipe-category .veg{
        background: #deffbe;
    }
    .recipe-category .nonveg{
        background: #d15858;
    }

    .market-price {
        position: absolute;
        font-weight: bold;
        background: #e9b0b8;
        top: 66%;
        left: 0%;
        width: 50%;
        opacity: 0.9;
        padding: 5px 9px;
        font-size: 12px;
    }
    .our-price {
        position: absolute;
        font-weight: bold;
        background: #b0e3e9;
        height: 35px;
        top: 66%;
        left: 54%;
        width: 50%;
        opacity: 0.9;
        padding: 5px 9px;
        font-size: 12px;
    }
    .market-price span {
        display: block;
    }
    .our-price span {
        display: block;
    }
    .recipe-list-body .card-content-md
    {
        padding-left: 0px;
    }
    .recipe-list-body .item-md
    {
        padding-left: 0px;
    }
    .recipe-list-body .grid
    {
        padding-left: 0px;
    }

    .recipe-list-body ion-col
    {
        padding-left: 0px;
    }

    
}
