page-signup {
    .signup-form-body {
        border: 1px solid #000;
        border-radius: 15px;
        background: #94D8E3;
    }
    .signup-body {
        margin-top:15px;
        width:85%;
        margin:0 auto;
    }
    .text-center {
        text-align: center;
    }
    .signup-form-title {
        text-align: center;
        padding:20px 0px 10px 0px
    }
    .signup-bottom {
        width:90%;
        margin:0 auto;
    }
    
}
