<!--
  Generated template for the ProductlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content fullscreen *ngIf="visibleKey">
  <div class="order-list-body">
    <ion-card  *ngFor="let order of orderList; let i = index">
      <ion-card-content>
        <ion-grid>
          <ion-row (click)="gotoOrderDetails(order.id)">
            <ion-col col-6>
              <ion-list no-lines class="recipe-name">No : {{order.order_no}}</ion-list>
            </ion-col>
            <ion-col col-6>
              <ion-list no-lines class="recipe-name" style="text-align: right;">Date : {{order.date_created |
                date:'MMM d, y'}}</ion-list>
            </ion-col>
          </ion-row >
          <ion-row style="background-color:#c3e8eb" (click)="gotoOrderDetails(order.id)">
            <ion-col col-4 style="text-align: center; border-right: 1px solid #ffffff; ">
              <ion-list no-lines class="recipe-name">Payment Status</ion-list>
            </ion-col>
            <ion-col col-4 style="text-align: center;border-right: 1px solid #ffffff;">
              <ion-list no-lines class="recipe-name">Payment Mode</ion-list>
            </ion-col>
            <ion-col col-4 style="text-align: center;">
              <ion-list no-lines class="recipe-name">Grand Total</ion-list>
            </ion-col>
          </ion-row>
          <ion-row (click)="gotoOrderDetails(order.id)">
            <ion-col col-4 style="text-align: center;">
              <ion-list no-lines class="recipe-name">
                <p *ngIf="order.is_paid==0">Pending</p>
                <p *ngIf="order.is_paid==1">Paid</p>
                <p *ngIf="order.is_paid==2">Cancel</p>
              </ion-list>
            </ion-col>
            <ion-col col-4 style="text-align: center;">
              <ion-list no-lines class="recipe-name">
                <p *ngIf="order.payment_type ==1">Paytm</p>
                <p *ngIf="order.payment_type ==2">COD</p>
              </ion-list>
            </ion-col>
            <ion-col col-4 style="text-align: center;">
              <ion-list no-lines class="recipe-name">
                <p><i class="fa fa-rupee"></i>{{order.total_price}}</p>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row (click)="repeatOrder(order)">
              <ion-col col-12>
                <hr>
                <p class="order-placed">Repeat Order</p>
              </ion-col>
            </ion-row>
          <!-- <ion-row>
            <ion-col col-5>
              <ion-list no-lines class="recipe-name">
                Payment Status
                <p *ngIf="order.is_paid==0">Pending</p>
                <p *ngIf="order.is_paid==1">Paid</p>
                <p *ngIf="order.is_paid==2">Cancel</p>
              </ion-list>
            </ion-col>
            <ion-col col-5>
              <ion-list no-lines class="recipe-name">
                Payment Mode
                <p *ngIf="order.payment_type ==1">Paytm</p>
                <p *ngIf="order.payment_type ==2">COD</p>
              </ion-list>
            </ion-col>
            <ion-col col-2>
              <ion-list no-lines class="recipe-name">
                Total
                <p>{{order.total_price}}</p>
              </ion-list>
            </ion-col>
          </ion-row> -->
          <!-- <ion-row>
            <ion-col col-12>
              <hr>
              <p class="order-placed">Order Placed</p>
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </ion-card-content>

    </ion-card>

    <div *ngIf="orderList.length ==0">
      <img src="assets/imgs/no-records.png">
    </div>
  </div>
</ion-content>