page-profileview {
   
   .profile-view-body h3 {
        text-align: center;
        font-size:1.8rem;
        background: #eef9fa;
        padding: 7px;
        border: 1px solid #ccc;
    }
    .centerize {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .alladdress {
        margin-bottom: 100px;
    }
    .add-address {
        margin-bottom: 80px;
    }
}
