page-profileview {
   
   .profile-view-body h3 {
        text-align: center;
        font-size:1.8rem;
        background: #eef9fa;
        padding: 7px;
        border: 1px solid #ccc;
    }
    .centerize {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .alladdress {
        margin-bottom: 100px;
    }
    .add-address {
        margin-bottom: 80px;
    }
    .address1 {
        font-weight: bold;
        color:#000;
    }
    .address2 {
        font-size: 1.6rem;
        color:#000;
    }
    .address-type1 {
        max-width:100%;
    }
}
